* {
    margin: 0;
    font-family: 'Open sans', sans-serif;
}

.header {
    background: #FFF8F3;
    background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.btn-primary {
    background: #FD6E0A;
    border-radius: 5px;
    width: 150px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    border: 0;
    padding: 18px 35px;
}

.btn-primary1 {
    background: #FD6E0A;
    border-radius: 5px;
    width: 200px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    border: 0;
    padding: 18px 35px;
    margin-top: 30px;
}

/* Header and Navigation Style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0 175px;
    padding: 25px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

/* Banner Style */

.banner {
    margin: 0 40px 0 200px;
    display: flex;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-top: 5px;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-top: 20px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    margin-top: 130px;
    margin-bottom: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

.section-title {
    text-align: center;
    margin-bottom: 113px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    text-align: center;
    width: 909px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    width: 267px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 130px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    width: 201px;
    height: 196px;
    line-height: 28px;
    text-align: left;
}

.resume-content {
    display: flex;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #474747;
    margin-bottom: 30px;
}

.resume .title {
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #474747;
    margin-bottom: 10px;
}

.resume .sub-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #757575;
    margin-bottom: 20px;
}

.resume .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}

hr {
    width: 558px;
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

.btn-primary2 {
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    padding: 18px 17px;

}

.resume-button {
    width: 200px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 113px;
}